/*importar fuentes desde Google fonts*/
@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:100,200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rajdhani:400,500,600,700&display=swap');

/*DECLARAR VARIABLES DE FUENTE Y DE COLORES*/
:root{
	--Barlow-font-family:'Barlow Condensed', sans-serif;
	--color-font: #ffffff;
	--navbar-color-hover:#918b78;
	--articulos-header-color:#343a40;
	--footer-color: #000000;

}

/*--FIN VARIABLES--*/

*{
	padding: 0px;
	margin: 0px;
}

body{
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(../img/fondo.jpg);
	background-size: 2000px;
	background-repeat:repeat; 
	
}

/*---NAVBAR CABECERA---*/
.texto_navbar a{
	color: var(--color-font) !important;
	font-family: var(--Barlow-font-family);
	font-size: 130%;
	font-weight: 400;
}

.texto_navbar a:hover{
	color:var(--navbar-color-hover) !important;
}
/*---FIN NAVBAR CABECERA---*/



/*---CAROUSEL---*/	
.carousel-item img{
	height: 100vh;
	width: 100%;
	object-fit: cover;	
}

.container-fluid{
	padding-left:0px;
	padding-right: 0px;
}

.carousel-inner .carousel-item .titulo{
	position: absolute;
    top: 50%;
	left: 50%;	
	transform: translate(-50%, -50%);
	text-transform: uppercase;
	font-weight: 500;
	font-size: 60px;
	font-family: var(--Barlow-font-family);
	color: var(--color-font);
	width: 100%;
	text-align:center;
}
/*---FIN CAROUSEL---*/	

/*---ARTICULOS---*/
.articulos{
	width: 80vw;
	min-height: 900px;
	margin: auto;
	display:grid;
	grid-template-columns:60% 40%;
	
}

.articulos .contenido-principal{
	margin-right: 2%;
}

.articulos .contenido-principal p,.articulos .menu-lateral p{
	padding: 2%;
	font-family: var(--Barlow-font-family);
}
.articulos .menu-lateral p{
	text-transform: uppercase;
	text-align: center;
	font-size: 1.5em;
}
.articulos .menu-lateral{
	/*border: 2px solid green;*/
	display: flex;
	flex-direction: column;
	;
	align-items: space-between;
}

.articulos .articulos-header{
	align-content: space-between;
}

.articulos .articulos-header, .articulos .contenido-header{
	background-color: var(--articulos-header-color);
	border: 2px solid black;
	color: var(--color-font) !important;
	font-family: var(--Barlow-font-family);
	height: 40px;
	font-size: 130%;
	font-weight: 400;
	text-align: center;
}

iframe{
	width: 100%;
	height: 300px;
}
/*---FIN ARTICULOS---*/



/*---PROYECTOS DESTACADOS---*/
.projects{
	margin-top: 5%;
	margin-bottom: 5%;
	display: flex;
    justify-content: center;
    align-items: center;
	position: relative; 
}

.projects img{
	height: 200px;
	width: 350px;
}

.projects .item{
	position: relative;
	overflow: hidden;
	transition: 0.5s;
}

.projects .item:hover{
	z-index:1;
	transform: scale(1.25);
	box-shadow: 0 25px 40px rgba(0, 0, 0, .5);
}

.projects .titulo{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	z-index:2;
	display: flex;
	justify-content: center;
	align-items: center;
}

.projects .titulo p{
	color:var(--color-font);
	font-family: var(--Barlow-font-family);
	transition: 0.5s;
	font-size: 20px;
	font-weight: 400;
	transform: translateY(200px);
}

.projects .item:hover p{
	transform: translateY(0px);
	transition-delay: 0.6s;
}
/*---FIN PROYECTOS DESTACADOS---*/


.iconos{
	display: flex;
	justify-content: space-around;
	padding-bottom: 5%;
	padding-left: 10%;
	padding-right: 10%;
	font-family: var(--Barlow-font-family);
}

.iconos i{
font-size: 50px;
padding-bottom: 20px;
}

.iconos h1{
	font-size: 30px;
	}
.education i:hover, .publications i:hover, .events i:hover, .countries i:hover{
	color:rgba(204, 165, 31,0.8);
	transition: 1s;
	transform: scale(1.25);
}

.iconos h1:hover{
	text-underline-position: inherit;
}

.education, .publications, .events, .countries {
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1{
	text-align: center;
}
/*--FIN ICONOS--*/


/*---FOOTER--*/
footer{
	height: 200px;
	background-color: var(--footer-color);
	margin-top: auto;
	color: var(--color-font);
	display:flex;
	justify-content: center;
	align-items: center;
	font-family: var(--Barlow-font-family);
}

.iconos_footer{
	display:flex;
	font-size: 160%;	
}

.iconos_footer i{
	padding: 20px;
}

.text-footer p{	
	padding-top: 10px;
	font-size: 150%;
}

#facebook:hover{
	color:#3b5998 ;
}
#twitter:hover{
	color:#00acee;
}
#youtube:hover{
	color:#c4302b;
	
}

.iconos_footer i:hover{
	transition: 1s;
	transform: scale(1.35);
}
/*---FIN FOOTER--*/

/*---MEDIA QUERYS---*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.carousel-inner .carousel-item .titulo{
		font-size: 35px;
	}

	.articulos{
		display:flex;
		flex-direction: column;		
	}

	.articulos .articulos-header, .articulos .contenido-header{
		font-size: 25px;
	}
	.articulos .menu-lateral p{
		
		font-size: 1.2em;
	}

	iframe{
		/*width: 50%;*/
		height: 200px;
	}
	.text-motorway{
		padding-top: 50px;
	}

	.titulo-projects h1{
		font-size: 2em;
	}

	.projects img{
		height: 250px;
		width: 100%;
		
	}
	
	.projects{
		display: flex;
		flex-direction: column;
	} 
	.projects .item{
		overflow: inherit;
		margin-bottom: 15px;	
	}
	.projects .titulo p{
		transition: none;
		color: rgba(255,255,255,0.7);
		font-size: 27px;
		transform: none;
	}	

	.iconos{
		display: grid;
		grid-template-rows: 1fr  1fr  1fr 1fr;
		flex-direction: column-reverse;		
	}	
	
	.iconos h1{
		font-size: 20px;
		}

	footer{
		display: grid;
		grid-template-rows: 1fr 1fr;
		text-align: center;
		font-size: 100%;
		padding: 8% 0 8% 0;
	}

}	
/* Small devices (portrait tablets and large phones, 600px and up max 900px) */
@media only screen and (min-width: 601px) and (max-width: 900px) {

	.articulos{
		display:flex;
		flex-direction: column;		
	}

	iframe{
		width: 100%;
		height: 350px;
	}

	.titulo-projects h1{
		padding-top: 60px;
		font-size: 2em;
		font-weight:600;
	}
	.projects{
		padding-top: 10px;
		display: flex;
		flex-direction: column;
	} 

	.projects img{
		height: 300px;
		width: 700px;
		
	}

	.projects .item{
		overflow: inherit;
		margin-bottom: 15px;	
	}
	.projects .titulo p{
		transition: none;
		color: rgba(255,255,255,0.7);
		font-size: 40px;
		transform: none;
	}
	
	.iconos{
		padding: 100px 0px 100px 0px;		
		display: flex;
		justify-content: space-around;
		
	}	

}
